// slider
.testimonials {
    padding-top: 120px;
    // padding-bottom: 80px;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;

    .section-header {
        text-align: center;
        max-width: 700px;
        margin: 0 auto 50px;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            font-size: 1rem;
            color: #555;
            line-height: 1.6;
        }
    }

    .testimonial-slider {
        // position: relative;
        // padding: 120px;

        .swiper-wraper {}

        .testimonial-item {
            display: flex;
            justify-content: center;

            .testimonial-content {
                max-width: 1290px;
                width: 100%;
                background: #fff;
                border: 1px solid #eee;
                border-radius: 10px;
                padding: 30px;
                display: flex;
                align-items: center;
                gap: 97px;
                position: relative;

                @media (max-width:1000px) {
                    gap: 20px;
                }

                @media (max-width:850px) {
                    flex-direction: column;
                    padding-bottom: 120px;
                    
                }

                .testimonial-image {
                    flex: 0 0 120px;

                    img {
                        width: 386px;
                        height: 396px;
                        border-radius: 10px;
                        object-fit: cover;

                        @media (max-width:850px) {
                            width: 100%;
                        }
                    }
                }

                .testimonial-text {
                    .stars {
                        color: #f6b400;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                    }

                    p {
                        max-width: 560px;
                        font-size: 1rem;
                        font-style: italic;
                        margin-bottom: 15px;
                        font-size: 32px;
                        line-height: 36px;
                        font-weight: 500;
                        color: rgba(10, 13, 20, 1);

                        @media (max-width:1000px) {
                            font-size: 24px;
                            line-height: 28px;
                            font-weight: 500;
                        }
                    }

                    h4 {
                        font-size: 1.1rem;
                        font-weight: 600;
                        margin-bottom: 3px;
                    }

                    span {
                        font-size: 0.9rem;
                        color: #777;
                    }
                }

                /* Swiper buttons inside the card */


            }

            /* Responsive */
            @media (max-width: 768px) {

                .swiper-button-prev,
                .swiper-button-next {
                    bottom: -60px;
                    /* move outside for mobile */
                    right: 50%;
                    transform: translateX(50%);
                }

                .swiper-button-prev {
                    margin-right: 70px;
                }

                .swiper-button-next {
                    margin-left: 70px;
                }

            }
        }

        .arrow-buttons {
            right: 344px;
            position: absolute;
            z-index: 9999;
            bottom: 56px;
            right: 56px;
            display: flex;
            gap: 12px;

            @media (max-width:600px) {
                right: 40%;
                bottom: 32px;
            }
             @media (max-width:580px) {
                right: 36%;
                bottom: 32px;
            }

            .button-prev,
            .button-next {
                width: 52px;
                height: 52px;
                background: none;
                /* remove default bg */
                border: none;
                top: auto;
                bottom: 20px;
                /* position them inside the card bottom */
                z-index: 10;

                svg {
                    width: 52px;
                    height: 52px;
                }

                &::after {
                    display: none;
                    /* remove default arrow */
                }
            }


        }
    }

    /* Responsive */
    @media (max-width: 768px) {
        .testimonial-content {
            flex-direction: column;
            text-align: center;

            .testimonial-image {
                margin-bottom: 15px;
            }


        }
    }
}